!!! 5
html
  head
    title Viz

    link(rel="stylesheet", href="/stylesheets/bootstrap-1.0.0.min.css")
    
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/libs/yepnope.1.0.2-min.js")
    
    script(src="/javascripts/utils.js")
    script(src="/javascripts/store.js")
    script(src="/javascripts/socket.js")    
    script(src="/javascripts/init.js")
  body!= body